

body {
	display: block;
	font-family: 'Raleway', sans-serif;
}

header  {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	margin: 25px 0 55px 0;
}

section.part1 p {
	column-count: 3;
	column-rule: 5px solid grey;
}

span:not(.title) {
	padding-top: 0.3em;
	border-bottom: 1px solid grey;
	margin-left: 0.6em;
	line-height: 2em;
}

section.part1 p:first-line {
	font-weight: bold;
}

br {
	margin-bottom: 0.3em;
}

.menu {
	border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 2.5em;
	list-style: none;
    display: block;
    transition: all .1s ease-in;
    	}

.menu li {
	float: left;
    margin: auto;
    padding: 10px;
    font-weight: 600;
}

.menu li:hover {
	background: #F5F5F5;
	cursor: pointer; 
	border: 1px solid grey;
	}

.menu li a {
	margin: 5px;
	text-decoration: none;
 	color:black;
 	}


 .internal  {
 	display: none;
 	width:20px;
 	margin-top: 35px;
 	padding-left: 0;
	background: white;
	list-style: none;
	}

.internal li {
	background: grey;
	margin: 5px;
	padding-top: 5px;
}

/*.active:hover .internal {
	display: block;
	background: grey;
}*/

div.part2 {
	margin-top: 3em;
}


div.part2 p:first-child {
	margin-left: 0.6em;
	line-height: 2em;
	font-weight: 600;
	border-bottom: 2px solid grey;

	}
	
div.part2 p {
	column-count: 2;
	column-rule: 5px solid grey;
	 column-gap: 3em;
}