@media screen and (min-width: 769px) and (max-width: 960px) {
	div.background {
    	height: 600px;
   	 	position: relative;
    	background-color: rgba(64, 72, 88, 0.8);
	}
	div.logo {
		width: 20px;
		top: 5vw;
		left: 5%;
	}
	.logo img {
		width: 12vw;
	}
	.wrapper {
    	top: 0;
	}
	#slider {
	    height: 100%;
	}
	#slider .slides {
	    height: 400px;
	}
	nav {
	    top: 6vw;
	}
	.menu-elements {
		width: 80vw;
	}
	.menu-elements li {
	    display: inline-block;
	    margin: 1px;
	    width: 12%;
	    position: relative;
	    right: -30vw;
	    font-size: 17px;
	    padding: 1vw;
	}
	.headline {
	    font-size: 20px;
	    top: 27%;
	    height: 35px;
	    width: 100vw;
	}
	.headline p:first-child {
    font-size: 4vw;
    margin: auto;
    width: 75%;
    text-align: center;
    top: 100%;
    position: absolute;
    display: inline-block;
	}
	.headline p:last-child {
	    width: 80vw;
	    display: inline-block;
	    margin: auto;
	    position: relative;
	    top: -30%;
	}

	.button {
	   display: inline-block;
	    position: absolute;
	    top: 60%;
	    left: 37%;
	    width: 27vw;
	    z-index: 1;
	    margin: auto;
	    border: 1px solid #48BF72;
	}
	.button a {
	    margin: auto;
	    display: inline-block;
	    text-align: center;
	    width: 100%;
	}
	// section2
	
	div.isotop-filter {
    	width: 400px;
    	margin: 10px auto 5px;
    	display: inline-block;
	}
	ul.filter {
	    margin: auto;
    	width: 400px;
	}
	.filter li {
	    margin: auto;
	    padding: 9px;
	}
	span {
	    font-size: 15px;
	    margin: auto;
	}	
	#isotop-content {
		display: inline-block;
    	margin: auto;
	    max-width: 98%;
	    margin-left: 5vw;
	}
	#isotop-content .img {
	    // display: block;
	    margin: auto;
	    // margin: 0px 35px;
	    width: 340px;
    	height: 196px;
	    -webkit-box-shadow: none;
	            box-shadow: none;
		}
	#isotop-content .img img {
		width: 330px;
	}

		// section3

	.section3 {
	    height: 465px;
	    width: 100%;
	    /* position: absolute; */
	    left: 0;
	    background-image: url(images/man.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	div.background2 {
    	position: relative;
	}
	div.text {
	    width: 33%;
	    position: absolute;
	    top: 18%;
	    right: 23%;
	    left: auto;
	}
	div.text p:first-child {
	    font-size: 17px;
	}
	div.text span {
	    font-size: 15px;
	}
	div.text #line {
	    padding-top: 17px;
	}
	.button3 {
	    width: 90px;
	    margin: 30px 0;
	    border: 2px solid orange;
	    border-radius: 8px;
	}
	.button3 a {
	    color: orange;
	}
	// section4
	
	div.section4 {
	    height: 370px;
	}

	form.contactfield {
   	 	width: 70%;
	}
	form.contactfield h2 {
	    font-size: 18px;
	}
	div.name {
	    width: 60%;
	    height: 30px;
	    margin-left: 20%;
	    margin-bottom: 10px;
	}
	div.email {
	    width: 60%;
	    height: 30px;
	    margin-left: 20%;
	    padding-right: 30px;
	}
	div.name input, div.email input {
	    height: 30px;
	}
	div.name img, div.email img, div.message img {
	    margin-left: -1px;
    	height: 30px;
	}
	div.message {
		width: 66%;
	    margin-left: 20%;
	    height: 135px;
	}
	div.message img {
	     width: 32px;
   		 height: 135px;
	}
	textarea {
	    padding-top: 6px;
	    height: 125px;
	    margin-left: 4px;
	    width: 78%;
	    font-size: 14px;
	    resize: none;
	}
	input[type="submit"] {
		width: 66%;
	    margin-left: 20%;
	    height: 30px;
	    border: none;
	    border-radius: 5px;
	}
	// footer
	footer {
	    background-color: #3c4955;
	    width: 100%;
	    height: 150px;
	}
	div.bottom {
		height: 100%;
	}
	div.copyright {
	    padding-top: 32px;
	    margin: auto;
	    text-align: center;
	    width: 100%;
	    display: inline-block;
	}
	footer p {
	    color: white;
	    margin: auto;
	    display: inline-block;
	    font-size: 14px;
	}
	div.networks {
	    margin: auto;
	    padding-top: 35px;
	    display: inline-block;
	    width: 100%;
	}
	.networks a {
		width: 50%;
   		margin: auto;
    	display: block;
	}
	.networks img {
	    height: 25px;
	    width: 160px;
	    margin: auto;
	    display: block;
	}
}