
#logo .cls-1 {
        stroke: #fff;
      }

 #logo .cls-1, .cls-2 {
        stroke-width: 2px;
        fill: none;
      }

 #logo  .cls-1, .cls-2, .cls-3 {
        fill-rule: evenodd;
      }

#logo .cls-2 {
        stroke: #f6f7fc;
      }

#logo .cls-3, .cls-4 {
        fill: #fff;
      }

/*2nd logo for footer*/
#logo2 .cls-1 {
        stroke: black;
      }

 #logo2 .cls-1, .cls-2 {
        stroke-width: 2px;
        fill: none;
      }

 #logo2  .cls-1, .cls-2, .cls-3 {
        fill-rule: evenodd;
      }

#logo2 .cls-2 {
        stroke: black;
      }

#logo2 .cls-3, .cls-4 {
        fill: black;
      }
/*end*/

#scroll2  .cls-1 {
        fill: #fff;
        fill-rule: evenodd;
      }
	

#shape2  .cls-1 {
        /*fill: #3c3c3c;*/
        fill-rule: evenodd;
	}

#shape3 .cls-1 {
        /*fill: #3c3c3c;*/
        fill-rule: evenodd;
}

#shape4 .cls-1 {
        /*fill: #3c3c3c;*/
        fill-rule: evenodd;
	
}