 * {
 	margin: 0;
 	padding: 0;
 }

main {
	width: 1200px;
}

 .row-grid > [class*="row-width-"] {
 	float: left;
 	padding-left: 20px;
	box-sizing: border-box;
 }

 .row-grid {
 	width: 100%;
 	height: 150px;
 	margin-left: -20px;
 	margin-top: 15px;
 }
.internal1  {
	margin-top: 0;
	margin-left: 0;
}
.internal2  {
	margin-left: 0;
}

#extragrid {
	padding-left: 0;
}

 [class*="row-grid"]:after {
 	content: "";
 	clear: both;
 }

 .row-width-1-2 {
 	width: 50%;
 	height: auto;
 }

 .row-width-1-3 {
 	width: 33.3%;
 	height: auto;
 }
.row-width-1-2-2 {
	width: 50%;
 	height: auto;
}
.row-width-1-6 {
	width: 16.7%;
 	height: auto;
}

 img {
 	width: 100%;
 	padding-left: 20px;
 }

.second-row {
	height: 320px;
}

.third-row {
	height: 185px;
}

.forth-row {
	height: 135px;
}